services:
    backend:
        build: ./backend
        ports:
            - "8000:8000"
        environment:
            - DATABASE_URL="RDS_URL"
    
    frontend:
        build: ./frontend
        ports:
            - "5173:80"
        depends_on:
            - backend